<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">一個喜歡 <span id="js-rotating">挑戰自我, 發揮創意, 學習新知</span> 的人</h4>
  </div>
  <div class="user-content">
    <p>
      明明是個理科腦，卻誤打誤撞進入經濟系就讀，從大學期間就立志成為工程師，憑藉熱誠和努力取得了成大經濟和工業與資訊管理雙學位，並且以系排15%內的優秀成績畢業，除此之外也積極活躍於學術社團、營隊活動中，培養溝通合作的能力。畢業後發現學校所學與業界需求存在差異，因此到資展國際上課做進入職場前的準備，目前擔任EEIT83班第六組組長，目標八月當上JAVA工程師。興趣是摸索和體驗各種酷東西，從天空到海裡，從科技到心理學，希望能藉由這個網站分享我的生活。
    </p>
  </div>
</div>