<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">一個喜歡 <span id="js-rotating">挑戰自我, 發揮創意, 研究酷東西</span> 的人</h4>
  </div>
  <div class="user-content">
    <p>
      明明是個理科腦，卻誤打誤撞進入經濟系就讀，憑藉熱誠和操不壞的肝取得了成大經濟與工資管雙學位，目前在資展國際上課做進入職場前的準備，目標八月當上JAVA工程師。
    </p>
    <p>
      興趣是摸索和體驗各種酷東西，從天空到海裡，從科技到心理學，只要覺得有趣的東西熬夜都不是問題。
    </p>
  </div>
</div>